.navbar.navbar-inverse.navbar-fixed-top.navbar-default
	.container
		.navbar-header
			a.navbar-brand(href='/') Sample Project
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='/') Documentation
				li
					a#ui-nav(href='/ui') UI Page
				li
					a(href='/admin/list') Admin Page





